@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Bad luck</h1>
<h2 class="text-danger">You're probably unhappy about seeing this page. Here's a smiley :)</h2>

